@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
}
.enterance{
    width: 100%;
    height: 100vh;
    background-color: #DDDDDD;
}
.main-header{
    display: flex;
}
.left-header{
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 48px 0 0 52px;

}
.secondary-header{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #B3B3B3;
    margin-top: -5px;
}
.right-header{
    position: absolute;
    top: 0;
    right: 0;
}
.oone{
    font-family: 'Poppins', sans-serif;
    font-size: 160px;
    display: block;
    margin-right: 40px;
}
.abtme{
    position: absolute;
    top: 0;
    right: 5px;
    margin-top: 95px;
    margin-right: 35px;
    font-family: 'Poppins', sans-serif;
    color: #373737;
    font-size: 34px;

}
.intro{
    display: flex;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.right-side{
  display: block;
}
 .lit-ab{
  padding-left: 30px;
  margin-left: 60px;
}
.hi{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}
.name{
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
    
}
.proff{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.ico{
    width: 18px;
    margin: 10px;
}
.soc-icons{
    padding: 10px 0 0 5px;
    padding-left: 80px;
}
.clients{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
}
.red{
    font-family: 'Poppins', sans-serif;
    color: red;
}
.slideshow-image{
  position: absolute;
  width: 400px;
  margin-top: -150px;
  margin-left: -350px;
}
/* here starts about me section */
.about-me-section{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.about-me-text{
  top: 1178px;
  left: 355px;
  width: 334px;
  height: 369px;
  text-align: right;
  align-items: center;
}
.about-me-text h2{
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}
.about-me-text p{
  text-align: left;
  letter-spacing: 0.45px;
  color: #555555;
  opacity: 1;
}
.button{
  margin-top: 30px;
}
.button a{
  background-color: #E93656;
	text-decoration: none;
  padding:9px 30px;
  color:#fff;
	text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.button a:hover{
  background-color: #a52a2a;
	color:#fff;
}
.about-me-img-container img{
  width: 430px;
  height: 603px;
  margin: 15px;
}

.about-me-section .skills-container {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(3, 80px);
}

.about-me-section .progress__bar {
  border: 1px solid rgb(126, 114, 114);
  height: 15px;
  margin-top: 5px;
  width: 100%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.skills-container h3{
  color: #555555;
  text-align: center;
  letter-spacing: 0px;
  font-size: 15px;
  height: 27px;
}

.about-me-section .progress__bar span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: crimson;
  border-radius: 10px;
  height: 100%;
  width: 0;
  display: block;
  transition: width 0.4s ease-in-out;
}


.moreInformation{
  background-color: #131A36;
  display: flex;
  max-height: 210px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.moreInformation .my-information{
  height: 90px;
  width: 90px;
  margin: 15px;
  background: #00000000 0% 0% no-repeat padding-box;
  border: 2px dashed #FFFFFF;
  border-radius: 60px;
  opacity: 1;
  align-items: center;
  justify-content: center;
}
.moreInformation img{
  height: 30px;
  align-items: center;
  justify-content: center;
  margin:30px;
}
.moreInformation h6{
  font-family: 'Poppins', sans-serif;
  color: white;
  align-items: center;
  justify-content: center;
}
.moreInformation a:hover{
  background-color: #E93656;
  border-radius: 90px;
  width: 90px;
  height: 90px;
}
.services{
  font-size:0;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content:stretch;
  display:grid;
  grid-template-columns: auto auto auto auto;
}

.services a{
  width:200px;
  height: 300px;
  position: relative;
  margin: 20px;

}

.services  img {
  margin: 20px;
  height:100%; 
  width:300px;
  object-fit:cover;
}
a:before, a:after{
  width:300px;
  margin: 20px;
  position:absolute;
  opacity:0;
  transition:opacity 0.3s ease;

}

.services a:before{
  content:'';
  height:100%;
  background:#15263E;
}

.services a:after{
  content:attr(data-title);
  font-size:24px;
  top:calc(50% - 0.5em);
  text-align:center;
  color:#fff;
  text-transform:uppercase;
}

.services a:hover:before, a:hover:after{
  opacity:1;
}


.recomandations-slider{
  width: 100%;
  height: 350px;
  position: relative;
  margin: auto;
  background-image: url(static/images/countdown-bg.png);
  background-color: #222222;
  display: block;
  overflow: hidden;
}
.rec-slide{
  display: flex;
  align-items: center;
  justify-content: center;
}

.rec-text{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #FFFFFF;
  text-align: right;
  letter-spacing: 0.45px;
  width: 497px;
  color: #FFFFFF;
  margin: 20px;
  margin-top: 100px;
}
.recomendation-img{
  height: 200px;
  border-radius: 100px;
  background: #B97679 0% 0% no-repeat padding-box;
  border: 2px dashed #FFFFFF;
  opacity: 1;
  margin: 20px;
  margin-top: 100px;
}
.recomendator h1{
  color: #fff;
  font-size: 70px;
  width: 39px;
  margin-top: 35px;

}
.recomendator h5{
  color: #E93656;
  text-align: left;
  letter-spacing: 0.52px;
  margin-top: 100px;
}
.recomendator h3{
  text-align: left;
  letter-spacing: 0.84px;
  color: #FFFFFF;
  opacity: 1;
}
.btn-slide{
  display:block;
  margin:  10px;
  width: 13px;
  height: 13px;
  background: #FFFFFF00 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  margin-left: 150px;
  cursor: pointer;
} 
.projects{
  width: 100%;
  height: 100vh;
  display: block ;
}
.filter-projects{
  display: flex;
}
.projects h1{
  margin-top: 50px;
  width: 445px;
  height: 94px;
  margin-left: 848px;
  letter-spacing: 0px;
  color: #2E2E2E;
  opacity: 1;
}
#myBtnContainer{
  width: 240px;
  height: 401px;
  background: #15263E 0% 0% no-repeat padding-box;
  margin-left:385px;
  justify-content: center;
  align-items: center;
  text-align: end;
}
#myBtnContainer button{
  letter-spacing: 0px;
  color: #FFFFFF;
  background-color:#15263E ;
  border-color: #15263E;
  border: #131A36#15263E;
  display: block;
  margin: 20px;
  width: 102px;
  height: 27px; 
}
.filterDiv-container{
  background-color: #555555;
  display: grid;
  grid-template-columns: auto auto auto;
}
.filterDiv-container img{
  width: 300px;
  height: 350px;
  background: #555555 0% 0% no-repeat padding-box;
}
.filterDiv-container{
  overflow: hidden;
}
